*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.header{
    background-color: white;
    box-shadow:0 0 5px 0 darkgray;
    position: relative;
    grid-column: 2/3;
    display: grid;
    grid-template-rows:1fr 1fr;
}
.header .upper{
    display: grid;
    grid-template-columns: 1fr 40px 70px 150px;
    align-items: center;
    padding: 0 40px;
    gap: 5px;
}



input{
    padding: 5px;
    flex: 1;
    border-radius: 15px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 15px;
    transition: width 0.3s;
}

.magnifier{
    cursor: pointer;
    color: black;
}

.mic-icon{
    color: black;
    transition: opacity 0.3s;
}

.search{
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
}
/* javascript */
.search.active{
    width: 50px;
    display: flex;
}

.active .input{
    width: 0;
}

.active .mic-icon{
    width: 0;
}

.hidden{
    visibility: hidden;
}



.header .lower{
    display: grid;
    grid-template-columns: 80px 1fr 390px;
    align-items: center;
    padding: 0 40px;
    gap: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 25px;
}

.sidebar{
    background-color: #2AA5DC;
    grid-row: 1/3;
    grid-column: 1/2;
    display:grid;
    grid-template-rows: 400px 300px;
    color: white;
    font-size: 18px;
    padding: 21px 20px;
}
.sidebar ul li{
    list-style-type: none;
}

.sidebar .top-group{
    display: grid;
    grid-template-rows: 50px 1fr;
}

ul{
    display: grid;
    grid-template-rows: repeat(6,50px);
}


.content{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 25px 20px;
}

.content .project{
    grid-column: 1/2;
}
.content .articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(251px,1fr);
    gap: 20px;
    padding-top: 10px;
}

.articles .card{
    border-left: 8px solid #F0B429;
    padding:50px 20px 0px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 20px;
}

.card-icon{
    display: flex;
    justify-content: flex-end;
    gap:15px;
}

.content .right{
    display: grid;
    gap: 20px;
    align-content: start;
    grid-template-rows: auto 1fr;
}

.announcements{
    display: grid;
    gap: 10px;
}

.announcements .card{
    display: grid;
    gap: 20px;
    padding: 25px 15px 25px;
}

.announcements .card div:not(:last-child){
    box-sizing: border-box;
    padding:10px;
    border-bottom: 1px solid lightgray;
}

.trending{
    display: grid;
    gap: 10px;
    align-content: start;
}

.trending .logo{
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding: 20px;
}

.content div {
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    text-align: left;
}

.content .card {
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 10px;
}

.btn{
    background-color: #2AA5DC;
    box-sizing: border-box;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border: none;
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.logo-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
p{
    font-size: 15px;
    color: gray;
}
