*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.header{
    background-color: white;
    box-shadow:0 0 5px 0 darkgray;
    position: relative;
    grid-column: 2/3;
    display: grid;
    grid-template-rows:1fr 1fr;
}
.header .upper{
    display: grid;
    grid-template-columns: 1fr 40px 70px 150px;
    align-items: center;
    padding: 0 40px;
    gap: 5px;
}

input{
    padding: 5px;
    width: 80%;
    border-radius: 15px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 15px;
}
.header .lower{
    display: grid;
    grid-template-columns: 80px 1fr 390px;
    align-items: center;
    padding: 0 40px;
    gap: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 25px;
}

.sidebar{
    background-color: #2AA5DC;
    grid-row: 1/3;
    grid-column: 1/2;
    display:grid;
    grid-template-rows: 400px 300px;
    color: white;
    font-size: 18px;
    padding: 21px 20px;
}
.sidebar ul li{
    list-style-type: none;
}

.sidebar .top-group{
    display: grid;
    grid-template-rows: 50px 1fr;
}

ul{
    display: grid;
    grid-template-rows: repeat(6,50px);
}


.content{
    grid-column: 2/3;
    grid-row: 2/3;
}

.content div {
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    text-align: left;
}

.content .card {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
}
.content .Acard {
  background-color: white;
  color: black;
  text-align: center;
}
.content .Tcard {
  background-color: white;
  color: black;
  text-align: center;
}
.btn{
    background-color: #2AA5DC;
    box-sizing: border-box;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border: none;
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.logo-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
